body{
    background-color: white;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 12px;
}

.header {
  width: 600px;
  margin: auto;
}

.status {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 32px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.status[status="success"] {
  color: green;
}

.status[status="error"] {
  color: red;
}


.content{
  width: 600px;
  margin: auto;
  margin-top: 12px;
}

p {
  padding-right: 12px;
  padding-left: 12px;
}

.parent{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 32px;
  font-weight: bold;
}

.dane {
  display: flex;
  flex-direction: row;
}

.dane:first-of-type {
  border-top: 1px solid black;
}

.dane:hover {
  background: rgb(245, 245, 245);
}


.kategoria {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 32px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
}

.wartosc {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 32px;
  border: 1px solid black;
  border-right: none;
  border-top: none;
}

.wartosc:first-of-type {
  justify-content: left;
}

.wartosc:last-of-type {
  border-right: 1px solid black;
}

@media screen and (max-width: 630px) {

  .header { width: 100%; }

  .content{ width: 100%; }

  .dane {
    flex-direction: column;
  }

  .kategoria {
      border-right: 1px solid black;
  }

  .wartosc {
    justify-content: left;
  }

}
