html {
    overflow-y:scroll;
}

body{
    background-color: white;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 12px;
}

.header {
  /* display: flex; */
  width: 960px;
  margin: auto;
}


/* .input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
} */

.input {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.input:hover {
  cursor: pointer;
}

/* .buttons {
  flex: 1;
  display: flex;
}

.button {
  flex: 1;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
} */

input {
  font-size: 12px;
  display: none;
}

.content{
  width: 960px;
  margin: auto;
  margin-top: 12px;
}

p {
  padding-right: 12px;
  padding-left: 12px;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-top: none;
}

.parent:nth-of-type(1){
  border-top: 1px solid black;
}

[clicked="false"] + .dataSet {
  display:none;
}

[clicked="true"] + .dataSet {
  display:initial;
}

.dane {
  display: flex;
}

.kategoria{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-top: none;
}

.level{
  white-space: nowrap;
}

.kategoria > p{
  padding-right: 12px;
  padding-left: 0px;
}

.wartosci {
  flex: 1;
  display: flex;
}

.level > p{
  padding-right: 0px;
  padding-left: 12px;
}

.wartosc{
  flex: 2;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
}

.wartosc:nth-of-type(3){
  flex: 1;
}

#entityData > * > * > .wartosc {
  justify-content: left;
}

/* [level="1"] > .kategoria > p {
  padding-left: 12px;
}

[level="2"] > .kategoria > p {
  padding-left: 24px;
}

[level="3"] > .kategoria > p {
  padding-left: 36px;
}

[level="4"] > .kategoria > p {
  padding-left: 48px;
}

[level="5"] > .kategoria > p {
  padding-left: 60px;
}

[level="6"] > .kategoria > p {
  padding-left: 72px;
} */
