body{
    background-color: white;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 12px;
}

.header {
  /* display: flex; */
  width: 900px;
  margin: auto;
}


/* .input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
} */

.input {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.input:hover {
  cursor: pointer;
}

/* .buttons {
  flex: 1;
  display: flex;
}

.button {
  flex: 1;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
} */

input {
  font-size: 12px;
  display: none;
}
/*

#left{float:left;width:24%; height:95vh; margin:1vh 1%}
#right{float:left;width:72%; height:95vh; margin:1vh 1%; overflow:hidden;}

#right div{
    float: left;
    width:30.5%;
    height:30%;
    margin:0.5%;
    border:1px solid #000000;
    background:#FFFFFF;
    overflow:hidden;
} */
