body{
    background-color: white;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 12px;
}

.header {
  /* display: flex; */
  width: 900px;
  margin: auto;
}


/* .input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
} */

.input {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.input:hover {
  cursor: pointer;
}

/* .buttons {
  flex: 1;
  display: flex;
}

.button {
  flex: 1;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
} */

input {
  font-size: 12px;
  display: none;
}

.content{
  width: 900px;
  margin: auto;
  margin-top: 12px;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid black;
}

.parent:not(:first-of-type){
  border-top: none;
}

.dane {
  display: flex;
}

.kategoria {
  flex: 1;
  display: flex;
  height: 30px;
  justify-content: left;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-top: none;
  padding-left: 12px;
}

.wartosc{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-top: none;
  padding-left: 12px;
}
